<h1>Edit this photo.</h1>

<form action="http://localhost:3000/update_photo/<%= @edit_photo.id %>">
  <div>
    <label for="photo_caption">Caption:</label>
    <input id="photo_caption" type="text" value = "<%= @edit_photo.caption %>" name="the_caption">
  </div>
  <div>
    <label for="photo_image_url">Image URL:</label>
    <input id="photo_image_url" type="text" value = "<%= @edit_photo.source %>"name="the_source">
  </div>
  <div>
    <input type="submit" value="Edit photo">
  </div>
</form>

