<h1> Photo #<%= @one_photo.id %></h1>

<p><%= @one_photo.caption %></p>
<img src="<%= @one_photo.source %>"height="70%" width="70%">

<p><a href="http://localhost:3000/photos"> Back to Photos</a> </p>

<p><a href="http://localhost:3000/delete_photo/<%= @one_photo.id %>"> Delete this Photo</a> </p>



